@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

:root {
}
@theme {
  --color-cxs-primary: #0033ff;
  --admin-header-height: 64px;
}
body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* KioskPage 내에서만 스크롤바 숨기기 */
#kiosk-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#kiosk-container::-webkit-scrollbar {
  display: none;
}

/* react-layered-dialog 스크롤 잠금 */
body:has([data-scroll-lock='true']) {
  overflow: hidden;
}
